name : Format Python Code

on:
  push:
  workflow_dispatch:

jobs:
  add:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Format Python Code
        run: |
          pip install -y flake8 black isort
          flask8 .
          isort .
          black .
      - name: Commit changes
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Format Python Code" | true
          git push 2> /dev/null